<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.unpkg.com/boxicons@2.1.1/css/boxicons.min.css">
    <title>Login Mahasiswa</title>
    <link rel="stylesheet" href="/css/admin/login.css">

    <style>
        body{
            background-color: #356C72;
        }
    </style>
</head>

<body>
    <div class="row g-0 position-relative 100vh">
        <div class="col-md-6 mb-md-0 p-md-4">
            <img src="/img/6.png" style="width: 90%;" alt="logo">
        </div>
        <div class="col-md-6 p-4 ps-md-0 text-white">
            <div style="padding: 12%; margin-top: 4%;">
                <div class="header-text mb-5">
                    <h2 class="sapa">
                        Selamat Datang Kembali Mahasiswa!</h2>
                </div>
                <form action="/loginMahasiswa" method="post">
                    <h5>Username</h5>
                    <div class="input-group mb-4">
                        <input type="text" class="form-control form-control-lg fs-6 rounded-4"
                            placeholder="Ketikkan username disini" id="username">
                    </div>
                    <h5>Password</h5>
                    <div class="input-group mb-1">
                        <div class="d-flex" style="width: 500%;">
                            <input type="password" class="form-control form-control-lg fs-6 rounded-4"
                                placeholder="Ketikkan password disini" id="password">
                            <i class='bx bx-low-vision eye' id="togglePassword"></i>
                        </div>
                    </div>
                    <div class="input-group mb-3 d-flex">
                        <div class="forgot mt-2" style="margin-left: auto;">
                            <small><a href="/forgotPassUser" style="text-decoration: none;">Forgot Password?</a></small>
                        </div>
                    </div>
                    <div class="input-group mb-3 justify-content-center">
                        <button class="btn btn-lg fs-6 btn-login" type="submit">Log In</button>
                    </div>
                    <br>
                    <div class="input-group mb-3 d-flex">
                        <div class="forgot mt-2" style="margin-right: 10%; margin: auto;">
                            <small>Don't have an account? </small><small><a href="/registerAccount"
                                    style="text-decoration: none;">Sign In</a></small>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <script src="/js/togglePass.js"></script>
    <script src="/js/API-js/mahasiswa/loginUser.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous">
    </script>

</body>

</html>